<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Modalysis</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
     
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
        <style media="screen">
        *,
    *:before,
    *:after{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    body{
      background-color: #080710;
    }
    .background{
      width: 430px;
      height: 520px;
      position: absolute;
      transform: translate(-50%,-50%);
      left: 50%;
      top: 50%;
    }
    .background .shape{
      height: 200px;
      width: 200px;
      position: absolute;
      border-radius: 50%;
    }
    .shape:first-child{
      background: linear-gradient(
          #1845ad,
          #23a2f6
      );
      left: -80px;
      top: -80px;
    }
    .shape:last-child{
      background: linear-gradient(
          to right,
          #ff512f,
          #f09819
      );
      right: -30px;
      bottom: -80px;
    }
    form{
      height: 520px;
      width: 400px;
      background-color: rgba(255,255,255,0.13);
      position: absolute;
      transform: translate(-50%,-50%);
      top: 50%;
      left: 50%;
      border-radius: 10px;
      backdrop-filter: blur(10px);
      border: 2px solid rgba(255,255,255,0.1);
      box-shadow: 0 0 40px rgba(8,7,16,0.6);
      padding: 50px 35px;
    }
    form *{
      font-family: 'Poppins',sans-serif;
      color: #ffffff;
      letter-spacing: 0.5px;
      outline: none;
      border: none;
    }
    form h3{
      font-size: 32px;
      font-weight: 500;
      line-height: 42px;
      text-align: center;
    }
    
    label{
      display: block;
      margin-top: 30px;
      font-size: 16px;
      font-weight: 500;
    }
    input{
      display: block;
      height: 50px;
      width: 100%;
      background-color: rgba(255,255,255,0.07);
      border-radius: 3px;
      padding: 0 10px;
      margin-top: 8px;
      font-size: 14px;
      font-weight: 300;
    }
    ::placeholder{
      color: #e5e5e5;
    }
    button{
      margin-top: 50px;
      width: 100%;
      background-color: #f9004d;
      color: white;
      padding: 15px 0;
      font-size: 18px;
      font-weight: 600;
      border-radius: 5px;
      cursor: pointer;
    
    }
    .social{
    margin-top: 30px;
    display: flex;
    }
    .social div{
    background: red;
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: rgba(255,255,255,0.27);
    color: #eaf0fb;
    text-align: center;
    }
    .social div:hover{
    background-color: rgba(255,255,255,0.47);
    }
    .social .fb{
    margin-left: 25px;
    }
    .social i{
    margin-right: 4px;
    }

    .box1 {
    margin-top: 80px;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    text-align: center;
    }
    

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 30px;
        text-align: center;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;

        }


      </style>
    </head>
    <body>
        <!----hero Section start---->
        <div class="hero">
            <nav>
                <h2 class="logo">Modaly<span>sis</span></h2>
                <ul>
                    <li><a href="/"><h2>Home</h2></a></li>
                    <li><a href="/aboutus"><h2>About Us</h2></a></li>
                </ul>
                <p class="loginlabel">Logged in as <strong> {{ session['user']['name'] }}</strong></p>
                <a href="/dashboard/updatepassword/" class="updatepasswordlink">Update Password</a>
                <a href="/user/signout" class="btn">Log Out</a>
            </nav>
    
            <div class="content">

            </div>

            
            <div class='wrapper'>
                <nav>
                <ul>
                    <div class="box1">
                        <li><h1><a href=''> MNIST Digits Recogniser </a></h1></li>
                        <br>
                        <p> This model will recognize any handwritten digits' image that you upload.</p>
                        </br>

                    </div>

                    <div class="box1">
                        <li><h1><a href='/dashboard/summarizer/'>  Text Summarization </a></h1></li>
                        <br>
                        <p> Creating a brief summary of articles using BERT/GPT2 Transformer</p>

                    </div>

                    <div class="box1">
                        <li><h1><a href='/dashboard/computeimage/'>  Google Compute Engine Api </a></h1></li>
                        <br>
                        <p> This is an external service which we have incorporated which identifies different attributes from an image like text, things, objects etc.</p>
                    </div>
                </ul>
                </nav>
            </div>


        </div>

        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/scripts.js"></script>
    </body>
</html>